.bungeeFont {
    font-family: 'Bungee Shade', cursive;
}

.rightFont {
    font-family: 'Righteous', cursive;
}

.amaticFont {
    font-family: 'Amatic SC', cursive;
}

.luckyFont {
    font-family: 'Luckiest Guy', cursive;
}